h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('text', 'Introducción', 'main.html#page/introduccion/')
                    +navTemaItem('1', 'Clúster o cadena', 'main.html#page/cluster/')
                    +navTemaItem('2', 'Factores de mejoramiento institucional', 'main.html#page/factores/')
                    +navTemaItem('3', 'Importancia de medir la competitividad', 'main.html#page/importancia/')
                    +navTemaItem('4', 'Conclusión', 'main.html#page/conclusion/')
                    +navTemaItem('question', 'Actividad didáctica', 'main.html#page/actividad-1/')