h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span Ejecutar acciones que le permitan a la organización mejorar su competitividad teniendo en cuenta el clúster al cual pertenece.




