

.container
    .header-ecored
        h1 1. Clúster o cadena 
    .jumbotron.bg-white        
        p Es un grupo de empresas o industrias que trabajan en el mismo sector y que establecen alianzas estratégicas para obtener beneficios comunes.
        section.my-4

            a(href="https://www.freepng.es/png-rqcqhc/" target="_blank").media-link      

                img(src="assets/images/pages/ilustraciones/icon_www.svg", alt="").media-link-icon

                .media-link-title
                    p <b>Anexo</b>. Análisis De Cluster, Kmeans La Agrupación, Clúster De Equipo PNG
                            
        p “Se define como una concentración de empresas e instituciones interconectadas en la actividad económica que desarrollan, cerca geográficamente unas de otras. Los actores del clúster trabajan de forma corresponsable y colaborativa en la identificación y el mejoramiento de las condiciones económicas, ambientales y sociales. Son una forma de materializar el principio de gobernanza”.

        section.my-4

            a(href="https://www.ccb.org.co/Preguntas-frecuentes/Iniciativas-de-Clusters/Que-son-los-Clusters-y-donde-estan-ubicados" target="_blank").media-link      

                img(src="assets/images/pages/ilustraciones/icon_www.svg", alt="").media-link-icon

                .media-link-title
                    p <b>Anexo</b>. ¿Qué son los Clusters y dónde están ubicados?  
    #11
    .header-ecored
        h1 1.1 Ventajas de los clúster
    .jumbotron.bg-white
        p En la actualidad la productividad se presenta como el principal problema de la mayoría de las empresas, debido a que existen muchos cuellos de botella o problemas internos que afectan el rendimiento de los empleados y disminución de la eficiencia en los procesos.
        img.img-a(src="assets/images/pages/ilustraciones/img2.png").img-fluid                          
        .header-arrow.my-5
            h3.text-center Las ventajas de establecer alianzas para el desarrollo de una actividad en particular a través de los clústeres son las siguientes: 
        
        ul 
            li.ul-color-li
                p.text-black Contribución a la mejora de las ventajas competitivas de las empresas.

            li.ul-color-li
                p.text-black Aumento de la productividad debido a la especialización y complemento de las empresas agrupadas.

            li.ul-color-li
                p.text-black Fomento de la innovación gracias a la capacidad de detectar necesidades de mercado conjuntamente.

            li.ul-color-li
                p.text-black Creación de nuevos modelos de negocio con menores riesgos y barreras de entradas.

            li.ul-color-li
                p.text-black Aumento de clientes potenciales. 

    #12
    .header-ecored
        h1  1.2 Clasificación de los clústeres
    .jumbotron.bg-white 
        .header-arrow.my-5
            h3.text-center Los clústeres se pueden clasificar de acuerdo a la actividad económica que realizan, por ejemplo, en Colombia se han identificado algunos como los siguientes: 
        img.img-a(src="assets/images/pages/ilustraciones/img3.png").img-fluid
        p.mt-5 En cada clúster o cadena productiva aparecen muchos negocios característicos de cada sector. En el sector automotor por ejemplo, no solamente está la venta de vehículos, sino que también están los repuestos y talleres de mantenimiento de los mismos y se genera una cadena de valor, de allí que cada sector genera muchos empleos directos e indirectos.
        hr.bd-hr-blue

    #13
    .header-ecored
        h1 1.3 Sectores de talla mundial
    .jumbotron.bg-white 
        p Son aquellos sectores de la economía de un país que son altamente competitivos, y que generan productividad a nivel mundial a través del reconocimiento internacional por presentar productos de calidad.
        br
        p Los sectores de talla mundial tienen la característica de innovar, tienen una creciente demanda global y poca competencia en el mercado.

    #14
    .header-ecored
        h1 1.4 Clasificación de sectores de talla mundial
    .jumbotron.bg-white 
        p Según el Programa de Transformación Productiva, PTP de Colombia 2017, reúne 20 sectores de clase mundial distribuidos en tres grandes grupos que son: manufactura, agroindustria y servicios.

        .sub-line
            h2.mt-5 Sectores de Clase Mundial 
        img.img-a(src="assets/images/pages/ilustraciones/img4.png").img-fluid       
         

