
.container
    .header-ecored
        h1 3. Importancia de medir la competitividad
    .jumbotron.bg-white 
        p El plan de mejora es un documento que se requiere para alcanzar los objetivos en una empresa u organización, este documento pone énfasis en la capacidad que debe tener la empresa para generar competitividad en el mercado donde se encuentra.
        br
        p Después de analizar el clúster en que se encuentra la organización y el sector de talla mundial en que se encuentra clasificada, es importante analizar los aspectos internos y externos que determinen las acciones de mejora para posicionar la empresa en un mercado cada vez más exigente.

        img.img-a(src="assets/images/pages/ilustraciones/img8.png").img-fluid 
        .header-arrow.my-5
            h3.text-center Algunas de las sugerencias para realizar el plan de mejora son las siguientes: 
        ul 
            li.ul-color-li
                p.text-black Formular estrategias de competitividad enfocadas en los objetivos estratégicos de la empresa. 

            li.ul-color-li
                p.text-black A cada objetivo definir metas que sean cuantificables y medibles.        

            li.ul-color-li
                p.text-black Cada meta debe llevar actividades planificadas para que posteriormente sean ejecutadas.       

            li.ul-color-li
                p.text-black Asignar responsables a cada actividad por ejecutar.       

            li.ul-color-li
                p.text-black Establecer indicadores para la medición y evaluación de las actividades en su etapa de ejecución.        

            li.ul-color-li
                p.text-black Establecer el presupuesto para las diversas actividades a ejecutar. 

        p.mt-5 Con la elaboración del plan de mejora se puede identificar cuellos de botellas, demoras o problemas en las actividades y realizar mejoras para que las estrategias planteadas cumplan con lo establecido en este caso la sostenibilidad y crecimiento de la empresa.
        hr.bd-hr-blue
