.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p
            strong.mr-2 Cadena productiva:
            | clúster o sector donde se encuentra clasificada la empresa de acuerdo a su actividad económica.
        
        p
            strong.mr-2 Clase mundial:
            | sectores de la economía de un país que son altamente competitivos, y que generan productividad a nivel mundial a través del reconocimiento internacional por generar productos de calidad. 
        p 
            strong.mr-2 Comunicación:
            | herramienta de gestión para transmitir mensajes al interior y exterior de la empresa y alcanzar los objetivos propuestos.

        p
            strong.mr-2 Mejora:
            | proceso mediante el cual una empresa plantea acciones para posicionar a la empresa en el mercado.
        p 
            strong.mr-2 Procesos:
            | sistemas de gestión para clasificar las actividades de la empresas de acuerdo al ciclo PHVA.