

.container
    .header-ecored
        h1 Introducción        
.container
    .row.my-5
        .col
            .card

                .card-body.mt-0

                    img.img-a(src="assets/images/pages/ilustraciones/img1.png").img-fluid 
                    
                    p.mt-5 Definir los fines de la empresa significa contribuir al mejoramiento sostenible de ella estableciendo una posición relativa mediante los indicadores de competitividad, proyectándose mediante procesos de crecimiento sostenido y sostenible. 
                    br
                    p La organización en la actualidad no puede dejar de tener en cuenta a sus semejantes sea a nivel geográfico o económico es por ello que se hace preciso la apuesta por crear estrategias que le permitan competir y cooperar. Estas iniciativas se llaman clúster los cuales, se crean con el objetivo de impulsar el desarrollo de una región convirtiendo los servicios o productos ofrecidos por las empresas en redes de cooperación o negocios cuyo fin es obtener beneficio institucional entre las regiones o a nivel global. 
                    br
                    p La temática desarrollada en esta actividad de aprendizaje, facilitará al aprendiz comprender los factores que intervienen en los procesos de mejoramiento institucional y el funcionamiento del clúster afín a la actividad económica para establecer un buen sistema de productividad y competitividad de la organización.

                    hr.bd-hr-blue