include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Dinero. (2009, 15 octubre). ¿cuáles son los problemas de los clústers en Colombia? ¿Cuáles son los problemas de los clústers en Colombia?", "https://www.dinero.com/negocios/articulo/cuales-problemas-clusters-colombia/32725")

        +referenciaItem("Munive Herrera, B. (2020). Clústeres | MINCIT - Ministerio de Comercio, Industria y Turismo.", "https://www.mincit.gov.co/minindustria/estrategia-sectorial/clusteres")

        +referenciaItem("Porter, M. E. (1990). The competitive advantage of nations. Harvard business review, 68(2), 73-93.", "")

        +referenciaItem("Red Clúster Colombia - Consejo Privado de Competitividad. (2020).", "https://compite.com.co/proyecto/red-cluster-colombia/")

        +referenciaItem("Studio, N. (2020). Red Cluster Colombia - Listado de clúster.", "https://redclustercolombia.com/clusters-en-colombia")